{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "tailwindStylesheet": "./src/index.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
